<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>


<body>
    <br>
    <br>
    <div class="cont">
    <div class="form sign-in">
    <img src="/static/Logo1.png" class="Logo1">
    <h2>Welcome</h2>
    
    
    <form action="/action_page.php">
        <div class="container">
          <div class="icon">
          <i class='fas fa-user-circle' ></i>
          <input type="text" placeholder="Enter Username" name="uname" required >
          </div>

          <select class="dropdown"  name="role" id="inputGroupSelect01" required>
          <option class="dropdownvalue"> Select Roles</option>
            
            <option value="Stakeholders">Stakeholders</option>
            <option value="BAT">BAT</option>
            <option value="UAT">UAT</option>
          </select>

          <div class="password">
          <i class="fa-solid fa-unlock-keyhole"></i>
          <input type="password" placeholder="Enter Password" name="psw" required>
          </div>
          <button type="submit">Login</button>
          
        </div>

      </form>
    
    
    </div>
    <div class="sub-cont">
    <div class="img">
    <div class="img__text m--up"/>
    
    <img src="/static/Logo.png" class="jio-products">
    
    
    
    </div>
    </div>
    

    
    </div>
    </div>
    </div>
    